{% extends 'partials/base.html'%}
{% load static%}

{% block content%}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


<body class="p-5">
    <div class="p-4 border shadow-md border-gray-100 h-80 " style="width: 900px; height: 400px;">
        
        <form action="" method="POST" method="post">
            {% csrf_token %}
            <h1 class="font-bold border-b ">Registeration Form</h1>
            <div class="mt-7 flex flex-col items-center h-full">
                {{form}}
                <button type="submit" class="bg-green-600 text-white rounded w-32 h-7 mt-4">Register</button>
            </div>
        </form>
    </div>
</body>
{% endblock content%}
